/* Global mobile-first styles */
* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
